<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./css/style.css">
    <title>Document</title>
</head>

<body>

    <div id="app">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-4 bg-grey overflow">
                    <!-- PROFILE SECTION -->
                    <div class="d-flex justify-content-between align-items-center my-2 px-3">
                        <div class="profile d-flex align-items-center">
                            <img src="./img/avatar_io.jpg" alt="my_profile"
                                class="img-fluid object-fit-contain border rounded-circle">
                            <h3 class="m-2 fs-5">Laura</h3>
                        </div>
                        <div class="icons-profile p-2 ms-2 d-flex">
                            <a href="#" class="d-sm-none d-md-block"><i
                                    class="fa-solid fa-circle-notch text-secondary"></i></a>
                            <a href="#" class="mx-3 d-sm-none d-md-block"><i
                                    class="fa-solid fa-message text-secondary"></i></a>
                            <div class="dropdown d-sm-none d-md-block">
                                <a href="#" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fa-solid fa-ellipsis-vertical text-secondary"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-item" @click="newContact()"><a href="#"
                                            class="text-secondary text-decoration-none"><i class="fa-solid fa-plus text-success"></i>
                                            <span class="ms-2">Nuovo contatto</span></a></li>
                                    <!-- CREARE FUNZIONE NUOVO CONTATTO -->
                                    <li class="dropdown-item">
                                            <a href="#" class="text-secondary text-decoration-none">Informazioni sull'ultima versione</a>
                                    </li>
                                    <!-- INSERIRE FUNZIONE STELLA -->
                                </ul>
                            </div>
                            <div class="dropdown d-sm-block d-md-none">
                                <a href="#" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fa-solid fa-ellipsis-vertical text-secondary"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-item"><a href="#" class="text-secondary text-decoration-none"><i
                                                class="fa-solid fa-circle-notch text-secondary"></i>
                                            <span class="ms-2">Logout</span></a></li>
                                            <li class="dropdown-item" @click="newContact()"><a href="#"
                                                class="text-secondary text-decoration-none">
                                                <i class="fa-solid fa-plus text-success"></i>
                                                <span class="ms-2">Nuovo contatto</span></a></li>
                                    <li class="dropdown-item"><a href="#" class="text-secondary text-decoration-none"><i
                                                class="fa-solid fa-message text-secondary"></i>
                                            <span class="ms-2">Chat History</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- NOTIFICATION DIV -->
                    <div class="d-flex align-items-center bg-azure p-3">
                        <a class="p-2 me-3 border rounded-circle bg-white text_azure" href="#"><i
                                class="fa-solid fa-bell-slash"></i></a>
                        <div class="d-none d-md-block">
                            <p class="m-0">Ricevi notifiche di nuovi messaggi</p>
                            <a class="text-dark fs_14" href="#">Attiva notifiche desktop</a>
                        </div>
                    </div>

                    <!-- SEARCH INPUT -->
                    <div class="input-group">
                        <button class="btn btn-sm btn-outline-secondary px-4 bg-white border border-light search"
                            type="button" id="button-addon1"><i class="fa-solid fa-search"></i></button>
                        <input v-model="filter" type="text" class="form-control border border-light"
                            placeholder="Cerca o inizia una nuova chat">
                    </div>

                    <!-- LIST SECTION -->
                    <ul class="list-unstyled bg-white m-0 overflow contacts">
                        <!-- DEFAULT: v-show="search(contact)" === true for each contact -->
                        <li v-for="(contact, index) in contacts" @click="openChat(index)" v-show="search(contact)">
                            <div class="profile d-flex justify-content-between align-items-center py-3 px-3 bord">

                                <div class="d-flex justify-content-center align-items-center">
                                    <img class="img-fluid object-fit-contain border rounded-circle me-2"
                                        :src="contact.avatar" :alt="contact.name">

                                    <div class="d-flex justify-content-center flex-column">
                                        <h3 class="m-2 my-0 fs_16">
                                            {{ contact.name }}
                                        </h3>

                                        <p class="d-none d-md-block my-0 m-2 fs_14">
                                            <!-- if messages array is not empty (there's one message at least)... -->
                                        <div class="m-2 my-0" v-if="contact.messages.length > 0">
                                            <!-- If message's a gif... -->
                                            <div v-if="contact.messages[contact.messages.length - 1].type == 'gif'">
                                                <!-- ...then print "GIF" -->
                                                <i class="fa-regular fa-image"></i> GIF
                                            </div>
                                            <!-- If message's a text... -->
                                            <div v-else>
                                                <!-- ...then print that text message -->
                                                {{ contact.messages[contact.messages.length - 1].message }}
                                            </div>

                                        </div>



                                        </p>
                                    </div>
                                </div>
                                <!-- if messages array is not empty (there's one message at least), then take the date of last message and format it without seconds -->
                                <p class="d-none d-md-block fs_14 text-end">{{ contact.messages.length > 0 ?
                                    dateWithoutSec(contact.messages[contact.messages.length - 1].date) : '' }}</p>
                        </li>
                    </ul>
                </div>
                <div class="col-8 h-100 overflow-hidden">
                    <div class="bg-image d-flex h-100">

                        <!-- ACTIVE CHAT PROFILE -->
                        <div class="d-flex flex-column justify-content-between flex-grow-1">
                            <div class="d-flex flex-column">
                                <div class="d-flex justify-content-between align-items-center bg-grey">
                                    <div class="profile d-flex p-2">
                                        <img :src="contacts[active].avatar" alt="my_profile"
                                            class="img-fluid object-fit-contain border rounded-circle">
                                        <div class="d-flex justify-content-center flex-column">
                                            <h3 class="m-2 my-0 fs-5"> {{ contacts[active].name }} </h3>
                                            <p id="waiting" class="my-0 mx-2 fs_14">Ultimo accesso oggi alle {{
                                                contacts[active] && contacts[active].messages.length > 0 ?
                                                dateWithoutSec(contacts[active].messages[contacts[active].messages.length
                                                - 1].date) : '' }}</p>
                                        </div>
                                    </div>
                                    <div class="icons-profile p-3 d-flex text-secondary">
                                        <div class="dropdown">
                                            <a href="#" class="mx-3" data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="fa-solid fa-star text-secondary"></i>
                                            </a>
                                            <ul class="dropdown-menu">
                                                <!-- Favorites messages saved in array and shown as li -->
                                                <li v-if="favoritesArray.length === 0">
                                                    <a href="#" class="dropdown-item">Non sono presenti messaggi
                                                        salvati</a>
                                                </li>
                                                <li v-else v-for="message, index in favoritesArray">
                                                    <a href="#" class="dropdown-item"> {{ message.message }} </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <a href="#"><i class="fa-solid fa-search text-secondary"></i></a>
                                        <a href="#" class="ms-3 d-sm-none d-md-block"><i
                                                class="fa-solid fa-paperclip text-secondary"></i></a>
                                        <a href="#" class="ms-3"><i
                                                class="fa-solid fa-ellipsis-vertical text-secondary"></i></a>
                                    </div>
                                </div>
                                <!-- MAIN CHAT -->

                                <div id="main-chat" class="overflow d-flex flex-column">

                                    <div v-for="message, index in contacts[active].messages">
                                        <div class="my-2 p-1 border d-flex justify-content-between"
                                            :class=" message.status == 'sent' ? 'message-sent float-end' : 'message-received float-start' ">
                                            <!-- Deleted message -->
                                            <em class="text-secondary m-1"
                                                v-if="message.message == 'Questo messaggio è stato eliminato.'"> <i
                                                    class="fa-solid fa-ban m-1"></i> {{ message.message }}</em>
                                            <!-- text or images -->
                                            <p v-else-if="message.type == 'text'" class="m-1 p-1"> {{ message.message }}
                                            </p>
                                            <img v-else :src="message.message" alt="gif" class="w_300 m-1">
                                            <div class="d-flex flex-column justify-content-end">
                                                <div class="dropdown">
                                                    <button class="border-0 btn btn-sm p-0 ms-1" type="button"
                                                        id="dropdownMenuButton1" data-bs-toggle="dropdown"
                                                        aria-expanded="false">
                                                        <i class="fa-solid fa-angle-down"></i>
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <!-- add message to favorite -->
                                                        <li><a class="dropdown-item" href="#"
                                                                @click="addToFav(message)"><i
                                                                    class="fa-solid fa-star text-warning"></i> Mark as
                                                                favorite</a></li>
                                                        <li><a class="dropdown-item" href="#"
                                                                @click="deleteMessage(index)">Delete Message</a></li>
                                                    </ul>
                                                </div>
                                                <p class="m-0 fs_10 text-end text-secondary"> {{
                                                    dateWithoutSec(message.date) }} </p>
                                            </div>
                                        </div>

                                    </div>
                                    <div ref="bottomEl"></div>

                                </div>
                            </div>
                            <div class="d-flex flex-column justify-content-between">
                                <!-- INPUT CHAT -->
                                <div id="input-section" class="bg-grey">
                                    <div class="input-group my-2 d-flex align-items-center">
                                        <div class="input-group-prepend">
                                            <div class="btn-group dropup">
                                                <button class="input-group-text mx-3 border-0 text-secondary"
                                                    type="button" data-bs-toggle="dropdown">
                                                    <i class="fa-regular fa-face-smile"></i>
                                                </button>
                                                <ul class="dropdown-menu emoticon-dropup">
                                                    <ul class="d-flex flex-wrap list-unstyled ps-2">
                                                        <li v-for="emoticon, index in emoticonArray" class="p-1"
                                                            @click="emojiSelection(emoticon)"> {{ emoticon }} </li>
                                                    </ul>
                                                </ul>
                                            </div>
                                        </div>
                                        <input id="inputMessage" v-model="user_msg" type="text"
                                            class="form-control rounded" placeholder="Scrivi un messaggio"
                                            @keyup.enter="send()">
                                        <div class="input-group-append">
                                            <button v-if="!user_msg == ''"
                                                class="input-group-text mx-3 border-0 text-secondary" @click="send()">
                                                <i class="fa-solid fa-paper-plane"></i>
                                            </button>
                                            <button v-else class="input-group-text mx-3 border-0 text-secondary">
                                                <i class="fa-solid fa-microphone"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/luxon@3.4.4/build/global/luxon.min.js"></script>
    <script type="text/javascript" src="./js/app.js"></script>
</body>

</html>